* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: #F4F7FB;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}
nav .nav-center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}
nav .nav-center li a {
  padding: 35px;
  display: inline-block;
}
nav .nav-center li a:hover {
  background-color: orange;
  color: white;
}
nav .nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}
nav .fa-bars {
  display: none;
}

@media (max-width: 600px) {
  .nav-center {
    display: none;
  }
}
.hero {
  display: flex;
}

.find {
  border-color: white;
}

.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  padding-top: 390px;
  align-items: center;
}

.hero-review {
  background-color: #000;
  gap: 20px;
  border-radius: 50%;
  flex-wrap: wrap;
}

.menu p {
  color: orange;
}

.searchbar {
  color: white;
  background-color: #000;
  font-size: 30px;
}

.small-pizza {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}

.why-us h3 {
  color: orange;
}

.contact p {
  color: orange;
  align-items: center;
}

.icons {
  text-align: center;
  background-color: #000;
  max-width: 100px;
  border-radius: 50%;
  align-items: center;
}

.img {
  padding: 20px;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  gap: 20px;
  background-color: #F4F7FB;
  border: 1px solid #F4F7FB;
}

.cart {
  background-color: black;
  color: white;
  font-size: 25px;
  height: 70px;
  width: 200px;
}

.feature p {
  color: grey;
}

.menulist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}
.menulist:hover {
  background-color: orange;
  color: white;
}

.pizza-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  gap: 20px;
  padding-top: 10%;
}

.assistance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  padding-top: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  background-color: #000;
  color: white;
}

.links {
  color: white;
}

.bbq {
  background-color: #F4F7FB;
}

.Freshpizza {
  background-color: #F4F7FB;
  max-width: 100px;
}

.bg {
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}

.whyus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}
.section-container img {
  max-width: 50%;
  border-radius: 5px;
}

.content {
  max-width: 45%;
  padding-left: 20px;
}
.content h2 {
  color: orange;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.content h1 span {
  color: orange;
}
.content p {
  margin-bottom: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px;
}
.feature .feature-icon {
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  margin-right: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.feature .feature-text h3 {
  font-size: 1.2rem;
  margin: 0;
}
.feature .feature-text p {
  margin: 5px 0 0 0;
}

.viewmore {
  width: 200px;
  height: 60px;
  margin-left: 700px;
  background-color: orange;
  color: white;
  border-radius: 5px;
  border-color: orange;
  font-size: 25px;
}

.assist {
  background-color: #F4F7FB;
  align-items: center;
}

.imejes {
  margin-left: 50px;
}

.image-container {
  margin-left: 250px;
  padding-top: 20px;
}

.pizza-menu {
  font-family: "Kanit", sans-serif;
  padding: 2%;
}
.pizza-menu .orange-1 {
  text-align: center;
  color: orange;
}
.pizza-menu .h1-center {
  text-align: center;
  padding-bottom: 10px;
}
.pizza-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  list-style: none;
}
.pizza-menu ul li:hover {
  color: orange;
}

.menu-pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: center;
  gap: 10px;
  margin-top: 70px;
}

.pizza-move {
  margin: -70px;
}

.nameofpizza {
  margin-top: 60px;
}

.button {
  margin: 90;
  width: 140px;
  height: 40px;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #444;
}

.pizza-cart {
  padding: 10PX;
  align-items: center;
  text-align: center;
  border: 1px solid #F4F7FB;
  border-radius: 10px;
  width: 20%;
  background-color: #F4F7FB;
}
.pizza-cart .shrimp {
  color: #8a8a8a;
}

.btn-view {
  margin-top: 10px;
  margin-left: 44%;
  width: 200px;
  height: 40px;
  padding: 0.5rem 1rem;
  background-color: orange;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn-view:hover {
  background-color: #444;
}