@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
 
.menulist{
    @include flex(space-between,center);
    &:hover {
        background-color:$primary-color;
        color:white;
        font-family: kanit;
    }
}
.pizza-box{
    @include flex(space-between,center);
    gap:20px;
    padding-top: 10%;
    font-family: kanit;
}

.assistance{
    @include flex(space-between,center);
padding-top: 40px;
font-family: kanit;
}
.footer{
    @include flex(space-between,center);
    background-color: $black;
    color:white;
    font-family: kanit;
}
.links{
    color:white;
    font-family: kanit;
}
.bbq{
    background-color: $light-grey;
    p{
      color:#8a8a8a
    }
}

.Freshpizza{
    background-color: $light-grey;
    max-width:100px;
}
.bg{
    background-color: black;
}
.container{
    @include flex(space-between,center);
    font-family: kanit;
}
.whyus{
    @include flex(space-between,center);
    font-family: kanit;
}

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    font-family: kanit;
    img {
      max-width: 50%;
      border-radius: 5px;
    }
  }
  .content {
    max-width: 45%;
    padding-left: 20px;
    h2 {
      color: $primary-color;
      font-size: 1.5rem;
      margin-bottom: 10px;
      font-family: kanit;
    }
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      font-family: kanit;
      span {
        color: $primary-color;
      }
    }
    p {
      margin-bottom: 20px;
    }
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: kanit;
  }
  .feature {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px;
    .feature-icon {
      background-color: $black;
      color: #fff;
      padding: 15px;
      border-radius: 50%;
      margin-right: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .feature-text {
      h3 {
        font-size: 1.2rem;
        margin: 0;
      }
      p {
        margin: 5px 0 0 0;
      }
    }
  }
  .viewmore{
    width:200px;
    height:60px;
    margin-left: 700px;
    background-color: $primary-color;
    color:white;
    border-radius:5px;
    border-color:$primary-color;
    font-size:25px;
    font-family: kanit;
  }
  .assist{
    background-color: $light-grey;
    align-items: center;  
    font-family: kanit;
  }
  .imejes{
   margin-left: 50px;
  }
.image-container{
  margin-left:250px;
  padding-top:20px;
  font-family: kanit;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
}