@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.contact{
    padding-left:50px;
}
.footer{
    @include flex(space-between,center);
    background-color: $black;
    color:white;
}